body {
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: azure;
}

header {
    height: 50px;
    width: 100vw;
    background-color: lightblue;
}

nav ul,
#skills ul {
    display: flex;
    justify-content: space-evenly;
}

main {
    flex-grow: 1;
    max-width: 700px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    background-color: rgb(212, 226, 238);
}

.wrapper-with-avatar{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 15px 30px;
}

.avatar {
    max-width: 300px;
    max-height: 305.02px;
}

footer {
    min-height: 50px;
    width: 100vw;
    background-color: rgb(211, 202, 202);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rss-logo{
    height: 30px;
}