body {
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
}

h1 {
    width: fit-content;
    margin: 40px auto 20px;
}

#aleksei-fedorenko {
    margin-top: 15px;
    margin-bottom: 5px;
}

#frontend-developer {
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    width: fit-content;
    margin: 40px auto 20px;
}

header {
    height: 50px;
    width: 100vw;
    background-color: rgb(221, 232, 240);
}

nav ul,
#skills ul {
    display: flex;
    justify-content: space-evenly;
}

main {
    flex-grow: 1;
    max-width: 700px;

    background-color: lightcyan;
}

.wrapper-with-avatar{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    gap: 10px 0px;
}

.near-avatar {
    flex-grow: 1;
}

.avatar {
    max-width: 300px;
    max-height: 305.02px;
}

footer {
    min-height: 50px;
    width: 100vw;
    background-color: rgb(211, 202, 202);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rss-logo{
    height: 30px;
}