body {
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 50px;
    width: 100vw;
    background-color: rgb(221, 232, 240);
}

main {
    flex-grow: 1;
    max-width: 700px;

    padding-bottom: 20px;
    
    /* background-color: lightcyan; */
}


footer {
    min-height: 50px;
    width: 100vw;
    background-color: rgb(211, 202, 202);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer * {
    margin: 0;
}

.rss-logo{
    height: 30px;
}

.code {
    border-radius: 3px;
    background-color: darkslateblue;
    color: white;
    padding: 10px;
}